RewriteEngine On
RewriteRule ^about$ about/index.html [L]
RewriteRule ^about-for-kid$ about-for-kid/index.html [L]
RewriteRule ^plugins$ plugins/index.html [L]
RewriteRule ^map$ map/index.html [L]
RewriteRule ^gg$ gg/gg.html [L]
